*~
*.*~
env-exr
env-exr/
env-exr/*
env-exr/**/*
_backup
_backup/
_backup/*
_backup/**/*
.images
.ipynb_checkpoints
site
pdf_documents
docs/html_documents
raw_codes/.ipynb_checkpoints
images/.ipynb_checkpoints
docs/.ipynb_checkpoints
docs/responses/.ipynb_checkpoints
docs/responses/**/*
!docs/responses/distributed_systems/.gitkeep
!docs/responses/docker_usage/.gitkeep
!docs/responses/networks_internet/.gitkeep
!docs/responses/sdis/.gitkeep
!docs/responses/samples_for_discussion/.gitkeep
