# ignore FOLDERS
.*
env-exr
site
pdf_documents

# ignore FILES
*.*~
docs/responses/**/*

# DONT ignore FILES
!docs/responses/distributed_systems/.gitkeep
!docs/responses/intro_python/.gitkeep
!docs/responses/docker_usage/.gitkeep
!docs/responses/networks_internet/.gitkeep
!docs/responses/sdis/.gitkeep
!docs/responses/samples_for_discussion/.gitkeep
