*~
env-exr
env-exr/
env-exr/*
env-exr/**/*
_backup
_backup/
_backup/*
_backup/**/*
.ipynb_checkpoints
site
pdf_documents
raw_codes/.ipynb_checkpoints
images/.ipynb_checkpoints
docs/.ipynb_checkpoints
responses/.ipynb_checkpoints
responses/exr2/*
responses/exr3/*
responses/exr4/*
responses/exr5/*
responses/samples_for_discussion/*
!responses/exr2/.gitkeep
!responses/exr3/.gitkeep
!responses/exr4/.gitkeep
!responses/exr5/.gitkeep
!responses/samples_for_discussion/.gitkeep
